<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Archtool</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-ui/ui-bootstrap-tpls.js"></script>
  <script src="js/app.js"></script>

</head>
<body ng-app="archtoolApp">

<form role="form" class=".form-inline">
    <div ng-controller="SystemCtrl">
        <label for="name">Model</label>
        <select ng-model="currentSystem" ng-options="item.name for item in systems">
            <option value="">Select the model</option>
        </select>
        <button type="button" class="btn btn-primary btn-xs" ng-click="new()">Add Model</button>
    </div>
</form>


<div ng-controller="ItemsList">

</div>

<div class="container-fluid">
  <div class="row">
    <div class="svgeditor" ng-controller="SvgEditor" ng-click="clearSelection()" >
        <svg>
            <linearGradient id="archblock" x1="0%" y1="0%" x2="100%" y2="100%">
                <stop offset="0%"   stop-color="#ffffff" />
                <stop offset="100%" stop-color="#00b1eb" />
            </linearGradient>
            <g ng-repeat="block in blocks" transform="translate({{block.x}}, {{block.y}})"
               class="{{block.style}}"
               ng-mousedown="onMouseDown($event, block)"
               ng-mousemove="onMouseMove($event, block)"
               ng-mouseup="onMouseUp($event, block)"
               ng-click="onClick(block)"
            >
                <rect width="{{block.width}}" height="{{block.height}}" />
                <g transform="translate(1.5, 1.5)">
                    <rect class="archblock" id="namebg" width="{{block.width-3}}" height="{{block.height-3}}" />
                    <text class="archblock" y="3" <tspan x="3" dy="12.0pt">{{block.name}}</tspan></text>
                </g>
            </g>

            <line ng-repeat="line in lines" x1="{{getX1(line)}}" y1="{{getY1(line)}}"
                  x2="{{getX2(line)}}" y2="{{getY2(line)}}" />


        </svg>
    </div>
  </div>
</div>

</body>
</html>
