<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Archtool</title>
  <link rel="stylesheet" href="/static/css/app.css">
  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
  <script src="/static/bower_components/angular/angular.js"></script>
  <script src="/static/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/static/bower_components/angular-ui/ui-bootstrap-tpls.js"></script>
  <script src="/static/bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
  <script src="/static/js/splitter.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/services.js"></script>
  <script src="/static/js/ng-context-menu.js"></script>

</head>
<body ng-app="archtoolApp">


<header>
    <div class="container-fluid pull-left" class="login-frame">
            <label for="name">User</label>
            {{request.user.username}}
            <a href="/accounts/logout"><button type="submit" class="btn btn-primary btn-xs" >logout</button></a>
    </div>



    {% verbatim %}
    <div class="container-fluid pull-right" class="model-frame">
        <form role="form" class=".form-inline pull-right">
            <div ng-controller="SystemCtrl">
                <label for="name">Model</label>
                <select ng-model="$root.currentSystem" ng-options="item.name for item in systems">
                    <option value="">Select the model</option>
                </select>
                <button type="button" class="btn btn-primary btn-xs" ng-click="newSystem()">Add Model</button>
            </div>
        </form>
    </div>
</header>


<bg-splitter style="width:100%;" orientation="horizontal">
    <bg-pane min-size="200">
            <div class="container-fluid pull-left parent" ng-controller="ItemsList">
                <div id="dropdown-menu" class="dropdown position-fixed" style="display:none;z-index:1000;">
                    <ul>
                        <a class="btn btn-default" href="#" ng-click="addBlock(planeable)">Add to current View</a>
                    </ul>
                </div>
                <div class="row">
                    <h4>Tree view for type:
                        <select ng-model="currentItemType" ng-options="item for item in itemTypes">
                        </select>
                        <div class="pull-right">
                          <a class="btn btn-primary btn-xs" data-nodrag ng-click="newItem(null)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
                          <a href="" class="btn btn-default" ng-click="collapseAll()">Collapse all</a>
                          <a href="" class="btn btn-default" ng-click="expandAll()">Expand all</a>
                        </div>
                    </h4>
                    <!-- Nested node template -->
                    <script type="text/ng-template" id="nodes_renderer.html">
                      <div ui-tree-handle ng-click="viewItem(node)" ng-right-click="contextMenu($event, node)">
                        <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)" ng-if="node.children.length>0">
                            <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">
                            </span></a>
                        {{node.name}}
                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeItem(this, node)"><span class="glyphicon glyphicon-remove"></span></a>
                        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newItem(node)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
                      </div>
                      <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
                        <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
                        </li>
                      </ol>
                    </script>
                    <div ui-tree="treeOptions" id="tree-root">
                      <ol ui-tree-nodes="" ng-model="rootItems">
                        <li ng-repeat="node in rootItems" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                      </ol>
                    </div>
                </div>
            </div>
    </bg-pane>
    <bg-pane>
        <bg-splitter orientation="vertical" class="pull-left parent">
            <bg-pane>
                <h4>
                    <div ng-controller="ViewsList">Current View:
                        <select ng-model="$root.currentView" ng-options="view.name for view in allViews"></select>
                    </div>
                </h4>
                <div id="rightCtrl" ng-controller="SvgEditor" class="fullsize">
                    <div context-menu class="fullsize" data-target="menu-svg">
                        <svg class="svgeditor fullsize" ng-click="clearSelection()">
                            <linearGradient id="archblock" x1="0%" y1="0%" x2="100%" y2="100%">
                                <stop offset="0%"   stop-color="#ffffff" />
                                <stop offset="100%" stop-color="#00b1eb" />
                            </linearGradient>
                            <g ng-repeat="block in blocks" transform="translate({{block.x}}, {{block.y}})"
                               class="{{block.style_role}}"
                               ng-mousedown="onMouseDown($event, block)"
                               ng-mousemove="onMouseMove($event, block)"
                               ng-mouseup="onMouseUp($event, block)"
                               ng-click="onClick(block, $event); $event.stopPropagation();"
                            >
                                <rect width="{{block.width}}" height="{{block.height}}" />
                                <g transform="translate(1.5, 1.5)">
                                    <rect class="{{block.style_role}}" id="block_{{block.id}}" width="{{block.width-3}}" height="{{block.height-3}}"
                                            ng-class="{'selected': selected.indexOf(block) >= 0}"/>
                                    <text class="{{block.style_role}}" y="3" <tspan x="3" dy="12.0pt">{{block.name}}</tspan></text>
                                </g>
                            </g>

                            <line ng-repeat="line in lines" x1="{{line.x1}}" y1="{{line.y1}}"
                                  x2="{{line.x2}}" y2="{{line.y2}}" />
                        </svg>
                    </div>
                    <div class="dropdown position-fixed" id="menu-svg">
                      <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-item" ng-click="addBlock()">Add new Block</li>
                        <li class="dropdown-item" ng-click="connectBlocks()" ng-if="selected.length==2">Connect Blocks</li>
                      </ul>
                    </div>
                </div>
            </bg-pane>
            <bg-pane>

                <div class="detailsviewer" class="container-fluid" ng-controller="DetailsController">
                    <ng-include src="templateUrl">
                    </ng-include>
                </div>

            </bg-pane>
        </bg-splitter>
    </bg-pane>
</bg-splitter>

</body>
</html>
{% endverbatim %}
