/* app css stylesheet */
/* For documentation: http://www.w3schools.com/cssref/css_selectors.asp */


.login-frame{
  top:0px;
  position:absolute;
}


.model-frame{
  top:0px;
  position:absolute;
}

.fullsize {
  width:inherit;
  height:100%;
}

.svgeditor {
  background:lightblue;
}

/* Formatting details for the diagrams */
.archblock {
  font-size:12.0pt;
  font-family:arial;
  stroke:#005eb8;
  fill:url(#archblock);
  stroke-width:1;
}

.selected {
  stroke-width:3;
}

text.archblock {
  stroke-width:0;
  fill:#000000;
}

.archblock#namebg {
  opacity:0.0;
}

line {
  stroke:#000000;
  stroke-width:2;
}

.btn {
    margin-right: 8px;
}


/* Hide the OK and CANCEL buttons in the details view */
.detailsviewer #btn-ok {
    display: none;
}
.detailsviewer #btn-cancel {
    display: none;
}


/* Formatting of the tree viewer */
.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 1px 1px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 1px 3px;
  font-size: 9px;
  line-height: 1.5;
  border-radius: 3px;
}

.position-fixed {
  position: fixed;
}

.split-panes
{
  left: 0px;
  right: 0px;
  top: 50px;
  bottom: 0px;
  position: absolute;
}

.split-panes > .split-handler
{
  background: transparent;
  position: absolute;
  z-index: 999;
}

/* Horizontal */

.split-panes.horizontal > .split-handler
{
  width: 4px;
  top: 0px;
  left: 50%;
  bottom: 0px;
  cursor: ew-resize;
}

.split-panes.horizontal > .split-pane1,
.split-panes.horizontal > .split-pane2
{
  position: absolute;
  height: 100%;
}

.split-panes.horizontal > .split-pane1
{
  width: 50%;
}

.split-panes.horizontal > .split-pane2
{
  left: 50%;
  right: 0px;
  border-left: 1px solid #aaa;
}


/* Vertical */

.split-panes.vertical > .split-handler
{
  height: 4px;
  top: 50%;
  left: 0px;
  right: 0px;
  cursor: ns-resize;
}

.split-panes.vertical > .split-pane1,
.split-panes.vertical > .split-pane2
{
  position: absolute;
  width: 100%;
}

.split-panes.vertical > .split-pane1
{
  height: 50%;
}

.split-panes.vertical > .split-pane2
{
  top: 50%;
  bottom: 0px;
  border-top: 1px solid #aaa;
}

.dropdown{

}

.dropdown-item {
  cursor: pointer;
}